<div class="forgot-page">
  <div class="login-box">
    <div class="login-logo">
      <img src="assets/img/data1st_logo.png" alt="Company Logo" height="90"><br>
      <a href="#" class="company-title">
        <b>Datafirst Solutions</b><br />
        <b>Analysis Services LLC</b>
      </a>
    </div>
    <div class="card card-outline card-primary">
      <div class="card-body login-card-body">
        <p class="login-box-msg">You forgot your password? Enter your Work Email below.</p>

        <form (ngSubmit)="submit()">
          <div class="input-group mb-3">
            <input [(ngModel)]="WorkEmail" name="WorkEmail" type="email" class="form-control" placeholder="Work Email" required />
            <div class="input-group-append">
              <div class="input-group-text"><span class="fas fa-envelope"></span></div>
            </div>
          </div>

          <div *ngIf="message" class="text-success mb-2">{{ message }}</div>
          <div *ngIf="error" class="text-danger mb-2">{{ error }}</div>

          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block">Request new password</button>
            </div>
          </div>
        </form><br>

        <p class="mt-3 mb-1">
          <a routerLink="/login" class="text-center">Login</a>
        </p><br>
        <p class="mb-0">
          <a routerLink="/register" class="text-center">Register a new membership</a>
        </p>
      </div>
    </div>
  </div>
</div>
