<div class="login-page">
  <div class="login-box">
    <div class="card">
      <div class="card-header title-background text-center">
        <img src="assets/img/data1st_logo.png" alt="Company Logo" height="90"><br>
        <a href="#" class="company-title">
          <b>Datafirst Solutions</b><br />
          <b>Analysis Services LLC</b>
        </a>
      </div>

      <div class="card-body login-card-body">
        <p class="login-box-msg">Fill in below details to Login</p>

        <form (ngSubmit)="login()" #loginForm="ngForm">
          <!-- Work Email -->
          <div class="input-group mb-3">
            <input
              type="email"
              class="form-control"
              placeholder="work Email"
              [(ngModel)]="workEmail"
              name="workEmail"
              required
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>

          <!-- Password -->
          <div class="input-group mb-3">
            <input
              type="password"
              class="form-control"
              placeholder="password"
              [(ngModel)]="password"
              name="password"
              required
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>

          <!-- Row -->
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="remember" />
                <label for="remember">Remember Me</label>
              </div>
            </div><br><br>
            <div class="col-4 float-start" style="margin-left: 150px;">
              <button type="submit" class="btn btn-primary  btn-block">Log In</button>
            </div>
          </div>

          <!-- Error Message -->
          <div *ngIf="error" class="text-danger text-center mt-2">
            {{ error }}
          </div>
        </form><br>

        <a routerLink="/forgot-password" style="margin-left: 110px;">I forgot my password</a><br /><br>
        <a routerLink="/register" style="margin-left: 100px;" class="text-center">Register a new employee</a>
      </div>
    </div>
  </div>
</div>
