@import '../auth/auth-branding';

.login-page {
  background: url('/assets/img/profile.jpg') no-repeat center center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 460px;  
  
}

.card {
  background-color: rgb(24, 23, 23); /* Dark body */
  border-radius: 0.75rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border: none;
  overflow: hidden;
}

/* White header styling for title */
.title-background {
  background-color: white;
  padding: 15px 10px;
}

.company-title {
  color: #343a40;
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  line-height: 1.3;

}

.login-card-body {
  padding: 40px 30px;
}

.login-box-msg {
  font-size: 20px;
  
}

.icheck-primary input[type="checkbox"] {
  margin-right: 5px;
  
}

/* Make input fields compact and consistent */
.form-control {
  height: 42px; /* input height */
  font-size: 0.95rem;
  padding: 0.5rem 0.75rem;
  border-right: none;
}

/* Icon box styling */
.input-group-text {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  color: #495057;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px; /* make it same height as input */
  height: 42px; /* match input height */
  padding: 0; /* center icon perfectly */
}

/* Bigger icon size */
.input-group-text span {
  font-size: 1.2rem; /* increase icon size */
  line-height: 1; /* prevent vertical misalignment */
}

/* Keep consistent focus look */
.form-control:focus {
  box-shadow: none;
  border-color: #80bdff;
}

/* Adjust button for matching height and neat look */
.btn {
  height: 42px;
  font-size: 0.95rem;
}
