<!-- layout.component.html -->
<div class="wrapper">

  <!-- Navbar -->
  <app-navbar></app-navbar>

  <!-- Main Sidebar -->
  <app-sidebar></app-sidebar>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content pt-3">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Footer -->
  <app-footer></app-footer>

</div>
<!-- ./wrapper -->
