// html, body, .wrapper {
//   height: 100%;
// }

// .content-wrapper {
//   min-height: calc(100vh - 57px); // adjust if navbar/footer height differs
// }

footer.main-footer {
  position: relative;
  bottom: 0;
  width: 100%;
}
